<div id="footer">
    <div>
        <ul class="navigation">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/travel">Travel</a>
            </li>
            <li>
                <a href="/login">Account</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <p>
        © 2025 by BHACCASYONIZTAS BEACH RESORT. All Rights Reserved
    </p>
</div>