<div id="header">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="75" width="150"></a>
    </div>
    <div id="navigation">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/travel">Travel</a>
            </li>
            {{#if isAuthenticated}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>